{
  "extends": "airbnb/base",
  "env": {
    "es6": true
  },
  "plugins": ["chai-friendly"],
  "rules": {
    "no-param-reassign": 0,
    "arrow-parens": 0,
    "valid-typeof": 0,
    "no-await-in-loop": 0,
    "no-restricted-syntax": 0,
    "no-continue": 0,
    "no-underscore-dangle": 0,
    "no-console": 0,
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2,
    "radix": 0,
    "max-statements": [2, 60],
    "max-depth": [2, 5],
    "max-nested-callbacks": [2, 3],
    "max-params": [2, 5],
    "complexity": [1, 6],
    "max-len": [2, 120, 4]
  }
}
